namespace <%= projectNamePascal %>.Dto;

public class HotelResponseDto : IHotelResponseDto
{
  public string Name { get; set; }
  public string Address { get; set; }
  public double Rating { get; set; }
  public decimal Cost { get; set; }
  public string Established { get; set; }
  public string NextReportDate { get; set; }
}