namespace <%= projectNamePascal %>.Service;

using Dto;

public interface IHotelService
{
  Task<IHotelResponseDto> CreateHotelAsync(IHotelRequestDto hotelRequestDto);
  Task<IHotelResponseDto> GetHotelAsync(long hotelId);
}