using Microsoft.EntityFrameworkCore;

namespace <%= projectName %>.Database;

public class <%= projectName %>DbContext : DbContext
{
  public <%= projectName %>DbContext(DbContextOptions options) : base(options)
  {
  }
  public DbSet<Hotel> Hotels { get; set; }
}
