using Microsoft.EntityFrameworkCore;

namespace <%= projectNamePascal %>.Database;

public class <%= projectNamePascal %>DbContext : DbContext
{
  public <%= projectNamePascal %>DbContext(DbContextOptions options) : base(options)
  {
  }
  public DbSet<Hotel> Hotels { get; set; }
}
