namespace <%= projectNamePascal %>.Dto;

public class HotelRequestDto : IHotelRequestDto
{
  public string Name { get; set; }
  public string Address { get; set; }
  public double Rating { get; set; }
  public decimal Cost { get; set; }
  public DateOnly Established { get; set; }
  public DateTime NextReportDate { get; set; }
}